@import url('https://fonts.googleapis.com/css?family=Roboto:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

/* @font-face {
  font-family: SegoePrint;
  src: url(assets/fonts/segoepr.ttf)
} */

* {
  box-sizing: border-box;
  margin: 0;
}

.login-button-pc {
  display: none
}

.blue-arrow, .white-arrow {
  position: absolute;
  top: 50%;
  z-index: 9999;
  cursor: pointer;
  pointer-events: all;
}

.arrow-left{
  transform: rotate(180deg);
  left: 3%;
}

.arrow-right{
  right: 3%;
}

.nav-logo {
  flex: 2;
  padding-top: .1rem;
  transform: scale(.6) translateX(-20%);
}


.navbar {
  align-items: center;
  background: var(--white);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.01);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999
}

.navlinks {
  animation: .5s dropIn cubic-bezier(1, 0, 0, 1);
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
  color: var(--dark-blue);
  display: none; 
  font-weight: 400;
  line-height: 2rem;
  padding: 1rem;
  top: 10%;
  width: 100%
}

.show {
  opacity: 1;
  display: block;
  transition: .5s all ease-in-out;
}

.toggle-button {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .01em;
  line-height: .01em;
  margin-right: 1rem
}

:root {
    font-size: 16px;
  --blue: #292865;
  --dark-blue: #1c213f;
  --light-blue: #8098b5;
  --white: #fff;
  --yellow: #FDCA3E
}

body {
  /* font-family: Montserrat; */
  font-family: Roboto, sans;
}

button {
    font-family: 'Montserrat';
    align-items: center;
    border: 5px solid transparent;
    border-bottom: 0px;
    border-radius: 50px;
    border-top: 0px;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem;
}

h1 {
  margin: 1rem
}

p {
    font-size: 0.8rem;
    text-align: justify;
}
@keyframes dropIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing img {
  height: 13rem;
  width: 13rem;
  margin: 4rem 0rem 0rem 0rem;
}
.landing img, .landing div  {
  flex: 1;
}

.landing-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}
.landing-text h1 {
  color: var(--blue);
  margin: 1rem 0;
  padding: 0;
  font-size: 2rem;
}

.landing-text p {
  text-align: left;
  margin: 0 0.25rem;
  max-width: 600px;
}

.landing-buttons {
  display: flex;
  justify-content: flex-start;
}

.landing-buttons button {
  margin:  12px 5px 0 0;
  padding: 1rem 0.75rem;
  border-radius: 39%;
  border-top:   none;
  border-bottom:   none;
  background: var(--yellow);
  border: 8px solid var(--yellow);
  border-bottom: 1px;
  border-radius: 50px;
  border-top: 1px;
  font-size: 0.7rem;
  font-weight: 600;
}

.all-blogs {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.become {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 0
}

.become>button {
  background: var(--yellow);
  border: 8px solid var(--yellow);
  border-bottom: 1px;
  border-radius: 50px;
  border-top: 1px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, .55);
  color: var(--dark-blue);
  margin: 0;
  padding: .8rem 1rem
}

.all-team {
    width: 80%;
    margin: 0 auto;
  }


.team-member p {
  font-size: 12px;
  padding: 0.5rem;
}

.face {
  display: block;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  position: relative;
  top: -10%;
  margin: 0 auto;
  z-index:9;
  max-width:200px;
  max-height:200px;
  height: auto;
  width: auto;
  border-radius: 50%;
}

.face-wrapper {
  position: relative;
}

.face-info {
  position: absolute;
  height: 2rem;
  width: 2rem;
  z-index: 1500;
  border-radius: 50%;
  font-weight: 600;
  text-align: center;
  font-family: SegoePrint;
  right: 10%;
  bottom: 10%;
  color: var(--dark-blue);
  background: rgba(255, 255, 255, .9);
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.blogs {
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, .9);
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
}

.blogs>button, .team>button {
  background: var(--white);
  border-radius: 50px;
  color: var(--dark-blue);
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
}

.blogs>h1 {
  color: white;
  padding: 2rem;
  text-align: center
}

.by {
  color: var(--yellow)
}
.cards {
    width: 50vh;
    overflow: visible;
    margin: 0 auto;
}

.all-team {
    width: 80%;
    overflow: visible;
    margin: 0 auto;
}

.card {
  align-items: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: var(--dark-blue);
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  background-image: linear-gradient(to bottom #fff 0%, #f3e7e9 100%);
  border-radius: 10px;
  margin: 1rem;
  height: 17.2rem;
  position: relative;
  overflow:visible;
  margin-top: 2rem;
  transition: all .2s linear;
  background-image: none;
}
.card:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card:hover .chapter-profile-img {
  transform: scale(1.11);
  border-radius: 5%;
}


.chapters-icon {
  height: 4rem;
  width: 4rem;
  padding: 0.25rem;
  color: white;
}
.chapter-profile-img {
  display: block;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  position: relative;
  top: -10%;
  margin: 0 auto;
  z-index:9;
  max-width:200px;
  max-height:200px;
  height: auto;
  width: auto;
  border-radius: 50%;
  transition: .5s all;
}

.percent90 {
  width: 90%;
  margin: 0 auto;
}

.chapter-profile-text {
  display: block;
  text-align: center;
  margin-bottom: auto;
}

.chapter-text {
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    align-items: center;
    color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    text-align: center;
}

.chapter-text>button {
  background: var(--white);
  color: var(--dark-blue);
  margin: 1.4rem 0;
  padding: .8rem 1rem;
  font-weight: 600;
}

.chapters {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.chapter-img {
  height: 12rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.contribute {
  display: flex;
  flex-direction: column-reverse;
}

.contribute-img {
  /* background-image: url(assets/images/Image-3.jpg); */
  height: 12rem;
  background-repeat: no-repeat;
  margin: 1rem 0;
}

.contribute-text {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  color: var(--white);
  display: flex;
  flex-direction: column;
  flex:1;
  justify-content: center;
  padding: 0 .5rem;
  text-align: center;
}

.contribute-text>button {
  background-color: var(--white);
  border: 1px solid var(--white);
  border-radius: 50px;
  color: var(--dark-blue);
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8rem 1rem
}

.contribute-text>h1 {
  padding-bottom: .5rem
}

.hero {
  /* background: url(assets/images/Image-0.jpg); */
  background-position: center;
  background-size: cover;
}

.login-button {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  border-radius: 50%;
  margin-right: 1rem;
  padding: .2rem;
  transform: translateY(12%);
}

.mission {
  align-items: center;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border-radius: 0 0% 0 0%;
  padding: 1rem;
}

.mission>button {
  background-color: white;
  border: 3px solid var(--yellow);
  border-radius: 50px;
  margin: 2rem auto;
  padding: 1rem 2rem
}

.mission>h1 {
  color: var(--yellow);
}

.mission>p {
  color: var(--white);
  text-align: justify;
  width: 90%
}

.navlinks, li {
  letter-spacing: .1rem;
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: uppercase;
}

.navlinks>li {
  list-style: none;
  text-align: center;
  text-decoration: none;
}
.navlinks> li a{
  text-decoration: none;
  color: var(--dark-blue);
}

.partner-img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  margin-top: 2rem;
}

.partner-text {
  color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 .5rem;
  padding: 0 .5rem;
  text-align: center;
  text-align: center
}

.partner-text>button {
  background-color: var(--dark-blue);
  border-radius: 50px;
  color: var(--white);
  margin: 1.6rem auto;
  font-family: 'Montserrat';
  font-weight: 600;
}

.partner-text>h1 {
  margin-top: 1rem;
  padding-bottom: .5rem
}

.partners {
  display: flex;
  flex-direction: column;
}

.blog-card {
  align-items: stretch;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border: 1px solid grey;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-around;
  padding-top: 3rem;
  max-width: 268px;
  min-height: 300px;
  width: auto;
  height: auto;
  text-align: center;
  transform: translateX(17%);
  border-radius: 10%;
  position: relative;
  overflow: hidden;
}

.blog-card>img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  opacity: 0.5;
  z-index: -999;
  filter: brightness(50%);
}

.blog-text {
  z-index: 999;
  color: white;
  font-size: 13px;
  font-weight: 600;
}

.blog-text:nth-child(3)::first-letter{
  font-size: 3rem;
  font-family: serif;
}
.blog-cards {
  width: 100%;
}

.team {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
  position: relative;
  margin-bottom: 4rem;
}

.team-button {
  background-color: var(--white);
  border-radius: 50px;
  color: var(--dark-blue);
  margin: 2.3rem auto;
  padding: 1rem 2rem;
}

.team>h1 {
  color: var(--dark-blue);
  margin: 0;
  padding: 2rem;
  text-align: center
}

.testimonials {
  background-blend-mode: multiply;
  background-color: rgba(28, 33, 63, 1);
  background-image: url(assets/images/Image-5.jpg);
  background-position-x: 50%;
  background-position-y: 30%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  text-align: center
}

.testimonials-h1 {
  color: var(--yellow);
  margin: 0
}

.testimonials-p {
  color: #fff
}

.by {
  font-size: 24px
}

.quote {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 2rem;
  width: 2rem
}

.blog-card-white {
  color: var(--dark-blue);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 3rem;
}

.top-chapters {
  color: var(--dark-blue);
  position: relative;
}

.top-chapters>button {
  background: var(--white);
  border-radius: 50px;
  color: var(--dark-blue);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem
}

.top-chapters>h1 {
  margin: 0;
  padding: 2rem;
  text-align: center
}

body>main>div.testimonials>img:nth-child(1) {
  display: block;
  height: 3rem;
  left: 1%;
  position: absolute;
  top: 50%;
  width: 3rem
}

body>main>div.testimonials>img:nth-child(2) {
  display: block;
  height: 3rem;
  position: absolute;
  right: 1%;
  top: 50%;
  width: 3rem
}

footer {
  align-items: center;
  color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid rgba(0,0,0,0.1);
}

footer>div>img {
  display: block;
  transform: scale(.8)
}

footer>p {
  font-size: 16px;
  text-align: right
}

/* @media (min-width:1190px) { */

@media (min-width:948px) {

  h1 {
    font-size: 3.5rem;
    font-family: Montserrat;
    padding: 3rem 0 0 2rem;
  }
  .become {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem 0;
  }


  button {
    align-items: center;
    border: 5px solid transparent;
    border-bottom: 0px;
    border-radius: 50px;
    border-top: 0px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem;
  }

  .become>button {
    background: var(--yellow);
    color: var(--dark-blue);
  }

  .blogs {
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom, var(--blue) 0%,40%,var(--dark-blue) 100%);
    border: 1rem solid white;
    border-radius: 20% 0% 20% 0;
  }

  .card {
    margin-top: 4rem;
    height: 20rem;
  }

  .cards {
    width: 80%;
    overflow: visible;
    margin: 0 auto;
  }

  .chapter-text {
    color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem;
    text-align: center;
    border: 1rem solid white;
  }
  .chapters {
    flex-direction: row;
    color: var(--dark-blue);
  }
  .chapter-img {
    flex: 1;
    height: 26rem;

  }
  .contribute {
    flex-direction: row
  }
  .contribute-img {
    background-size: cover;
    flex: 1;
    height: 26rem;
  }
  .contribute-text {
    flex:1; 
    border: 1rem solid white;
  }
  .contribute-text>button {
    margin: 3.5rem auto 2rem auto;
  }
  .navlinks li {
    font-family: 'Roboto';
    font-weight: 400;
  }
  .hero {
    background-repeat: no-repeat;
    background-size: 100vw auto;
    margin-top: 8.3rem;
    margin-bottom: 8.3rem;
  }
  .login-button-pc {
    align-items: center;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    border-bottom: 0px;
    border-radius: 3rem;
    border-top: 0px;
    color: var(--white);
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    margin-left: auto;
    padding: 1rem;
    font-family: Roboto;
    font-weight: normal;
  }

  .login-button-pc * {
    margin-left: 2rem;
    text-decoration: none; 
    color: white;

  }
  
  .login-button-pc>img {
    height: 1.2rem;
    width:1.2rem; 
  }
  .mission {
    border: 1rem solid white;
    border-radius: 0 20% 0 20%;
    padding: 2rem;
  }
  .mission p {
    width: 60%;
  }
  .nav-logo {
    flex: 0;
    margin-right: .5rem;
    transform: scale(.6) translate(-10%, -12%);
    width: 9rem
  }
  .navbar {
    align-items: center;
    background: white;
    display: flex;
    flex-wrap: wrap;
    height: 5rem;
    justify-content: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    position: fixed;
    top: 0;
    width: 100%
  }
  .navlinks {
    background-color: #fff;
    box-shadow: none;
    color: var(--dark-blue);
    display: flex;
    font-weight: 400;
    padding: 0;
    margin-left: 3rem;
    position: static;
    width: auto;
  }
  .navlinks, li {
    letter-spacing: normal;
    text-transform: capitalize
  }
  .navlinks>li {
    list-style: none;
    margin: 0;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: .1s all
  }
  .navlinks>li a:hover {
    color: var(--yellow)
  }
  /* //continue here */
  .landing {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .landing img {
    height: 32rem;
    width: 32rem;
    margin: 0;
  }
  .landing img, .landing div  {
    flex: 1;
  }

  .landing-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .landing-text h1 {
    color: var(--blue);
    margin: 0;
    padding: 0;
    font-size: 45.5px;
  }

  .landing-buttons {
    display: flex;
    justify-content: flex-start;
  }

  .landing-buttons button {
    margin: 2.5rem 1rem 0.25rem 0;
    background: var(--yellow);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem;
  }

  .partner-img {
    background-size: cover;
    flex: 1;
    padding: 1rem 0;
    height: 26rem;
    background-size: contain;
  }
  .partner-text {
    flex: 1;
  }
  .partners {
    flex-direction: row;
  }
  .blog-cards {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .testimonials-p {
    margin: 0 auto;
    text-align: center;
    width: 50%
  }
  .login-button, .toggle-button {
    display: none
  }
  .top-chapters>button {
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 1rem 3rem;
  }
  :root {
    font-size: 13px;
  }
  body>main>div.testimonials>img:nth-child(1) {
    height: 10rem;
    left: 1%;
    pointer-events: all;
    top: 40%;
    width: 10rem
  }
  body>main>div.testimonials>img:nth-child(2) {
    height: 10rem;
    right: 1%;
    top: 40%;
    width: 10rem
  }
  .quote {
    margin-left: auto;
    margin-right: auto;
    height: 8rem;
    width: 8rem
  }
  button {
    align-items: center;
    border: 5px solid transparent;
    border-bottom: 1px;
    border-radius: 3rem;
    border-top: 1px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    margin: 0;
    padding: .8rem 1rem
  }
  p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;

  }
  .face {
    height: 16rem;
    width: 16rem
  }
  .face-info {
    padding-top: 0.5rem;
    position: absolute;
    height: 3rem;
    width: 3rem;
  }
  .team {
    border: 0;
  }
}


